
.body{
  font-family: 'Roboto', sans-serif;
}
.nav{
  margin: 45px 0 51px;
  @media screen and (max-width: 1190px) {
    margin: 41px 0 43px;
  }
  @media screen and (max-width: 767px) {
    margin: 24px 0;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
  }
  &__body{
    @media screen and (max-width: 767px) {
      display: none;
    }
    &_list{
      @include flex-jc;
      @include header-txt;
      column-gap: 68px;
      font-weight: 400;
      letter-spacing: 1.1px;
      text-transform: uppercase;

    @media screen and (max-width: 920px) {
      column-gap: 45px;
    }
    @media screen and (max-width: 800px) {
      column-gap: 34px;
    }
  
  }
  &_list > :first-child{
    color: $color-header;
  }
  }

  &__burger-menu{
    position: relative;
    display: none;
    padding-right: 28px;

    @media screen and (max-width: 767px) {
     @include flex-end;

    }
    &_list{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 37px;
      background-color: $bg-header-mob;
      @include header-txt;
      letter-spacing: 1.1px;
      text-transform: uppercase;

      li {
        padding: 2px 80px 2px 12px;
        transition: background-color 0.3s;

        &:hover{
          background-color: $bg-hvr-mob-clr;
        }
      }
      &.hide{
        display: none;
      }
    }
    &_list > :first-child{
      color: $color-header;
    }

  }
 
}

.hide{
  display: none;
}
