@mixin flex-jc {
  display: flex;
  justify-content: center;
}

@mixin flex-sb {
  display: flex;
  justify-content: space-between;
}
@mixin ds-title {
  font-size: 16px;
  line-height: 1.37;
  color: #4E4E4E;
}
@mixin mob-title {
  font-size: 14px;
  line-height: 1.57;
}

@mixin ds-subtitle {
  font-size: 16px;
  line-height: 1.87;
  color: #4E4E4E;
}

@mixin mob-subtitle {
  font-size: 14px;
  line-height: 2.14;
}

@mixin ds-info {
  font-size: 12px;
  line-height: 1.66;
  color: #7C7C7C;
}

@mixin mob-info {
  font-size: 11px;
  line-height: 1.81;
  color: #7C7C7C;
}

@mixin header-txt {
  color: #4E4E4E;
  font-size: 11px;
  line-height: 2;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}